<div class="scrollable">
  <mat-card>

    <mat-card-content>
      <label>Border:</label>
      <br>
      <mat-radio-group
      aria-label="Borders around squares"
      [(ngModel)] = "border"
      (ngModelChange) = "changeBorder()">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
      <br>
      <br>
      <label>Fill:</label>
      <br>
      <mat-radio-group
      aria-label="Select an option"
      [(ngModel)] = "fill"
      (ngModelChange) = "changeFill()">
        <mat-radio-button [value]="true">yes</mat-radio-button>
        <mat-radio-button [value]="false">no</mat-radio-button>
      </mat-radio-group>
      <br>
      <br>
      <label>Rotation:</label>
      <br>
      <mat-radio-group
      aria-label="Select an option"
      [(ngModel)] = "rotation"
      (ngModelChange) = "changeRotation()">
        <mat-radio-button [value]="true">yes</mat-radio-button>
        <mat-radio-button [value]="false">no</mat-radio-button>
      </mat-radio-group>
      <br>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Number of square</mat-label>
        <input matInput placeholder="number of rectangles" type="number" [(ngModel)] = "numSquare" (ngModelChange) = "changeNumSQ()" required min="0" [formControl] = "fNumS">
        <mat-error >Number of Squares has to be greater or equal to 0</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Minimum length of sides</mat-label>
        <input matInput placeholder="number of rectangles" type="number" [(ngModel)] = "minLength" (ngModelChange) = "changeMinLength()" required min="1" [formControl] = "fMinLength">
        <mat-error >Minium Length has to be greater then 1</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Maximum length of sides</mat-label>
        <input matInput placeholder="number of rectangles" type="number" [(ngModel)] = "maxLength" (ngModelChange) = "changeMaxLength()" required min="1" [formControl] = "fMaxLength">
        <mat-error >Maxium length has to be greater then 1</mat-error>
      </mat-form-field>

      <!-- <button mat-raised-button color="primary" (click)="saveSquare()">Save</button> -->

    </mat-card-content>

  </mat-card>
  </div>
