canvas {
  border-style: solid;
  /* width: 1150px; */
  width: 100%;
  margin: 0 auto;
  height: 65vh;
}
mat-card-content{
  height: 100%;
  text-align: center;
  /* padding-bottom: 10px; */
}

.container{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows:  90vh;
  height: 100%;
  grid-template-areas:
    "control-area canvas-area";
  grid-gap: 1em;
}

.controls{
  /* grid-column: 1/2;
  grid-row: 2/3; */
  margin-top: 1em;
  grid-area: control-area;
  margin-right: 1em;
  margin-left: 1em;
  width: 92%;
  height: 98%;

}
h1{
  text-align: center;
}
.canvas-area{
  margin-top: 15px;
  margin-right: 15px;
  grid-area: canvas-area;
  width: 99%;
}

mat-form-field{
  width: 100%;
}
h5{
  margin: 0 auto;
}
.selectedOption{
  display: flex;
  height: 75%;
}
mat-card{
  box-sizing: border-box;
  height: 98%;
  margin: 0;
}

.scrollable {
  overflow: auto;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
.genControl{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .grid-container{
    display: grid;
    grid-template-columns: 100%;

    height: 100%;
    grid-template-areas:
      "canvas-area"
      "control-area";
  }
  mat-card{
    box-sizing: border-box;
    height: auto;
    width: 90%;
    margin-left: 5px;
    margin-right:  5px;
  }
  mat-card-content{
    height: auto;
  }
  .canvas-area{
    height: 100%;
    width: 100%;
    margin-left: 2em ;
  }
  .controls{
    margin-left: 2em ;
    width: 100%;
  }
  .genControl{
    margin: 0 auto;
    height: 100%;
    text-align: center;
    display: inline-block;
    justify-content: space-evenly;
  }
  canvas {
    border-style: solid;
    width: 100%;
    margin: 0 auto;
    height: 52vh;
  }
  .scrollable {
    height: 100%;
    overflow: hidden;
  }
}
